@media only screen and (max-width:1300px) {
    header {
        width: 100%;
        flex-direction: column;

    }

    .navbar, .login {
        display: none;
    }

    #menu li {
        list-style: none;

    }

    #menu li a {
        text-decoration: none;
    }

    .navigation {
        display: none;
    }

    .menuIcon {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 15px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 12;
    }

    /* Icon Bars */
    .icon-bars {
        background: black;
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .icon-bars::before {
        background: black;
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars::after {
        margin-top: 0px;
        background: black;
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }




    /* Toggle Menu Icon */

    
    .menuIcon.toggle .icon-bars {
        background: white;
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
        background: white;
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
        background: white;
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars.overlay {
        width: 20px;
        opacity: 0;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }

    #testPhn{
        background-color: #e3dcbd;
        color: black;

    }

    
    






}

