* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    /* border: 3px solid red; */
    border-bottom: 4px solid black;
    /* background-color: white; */
    display: flex;
    justify-content:space-around;
}

.logoSpace,
.navbar,
.login {
    /* border: 2px solid blue; */
}

.logoSpace img {
    margin-top: 20px;
    height: 140px;
    width: 140px;
}

.logoSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webName {
    font-size: 1.42rem;
}

.navbar li {
    display: flex;

    list-style: none;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar li a {
    border: 1px solid black;
    padding: 8px;
    text-decoration: none;
    margin: 40px;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;

    border-radius: 20px;

}

.navbar li a:hover {
    background-color: rgb(203, 195, 185);

}




header::before {
    background: url(../images/background.jpg) no-repeat center center/cover;
    background-size: 100% 100%;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}

.overlay-menu {
    background: rgb(12, 20, 58);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    /* -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out; */
}

.overlay-menu ul,
.overlay-menu li {
    display: block;
    position: relative;
}
.overlay-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-menu li a {
    color: rgb(229, 231, 232);
    border: 2px solid white;
    border-radius: 30px;
    display: block;
    width: 80vw;
    font-size: 1.5em;
    margin: 15px;
    
    /*   opacity: 0; */
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    /* -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; */
    
}

.overlay-menu li a:hover
{
    color: rgb(229, 231, 232);
    background-color: rgb(192, 152, 100);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}


/* body  */
.mainBody{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.loginSpace{
    border: 3px solid black;
    width: 40vw;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgb(60, 56, 56);
}
.loginSpace h1{
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.elements{
    margin: 20px;
    font-size: 1.7rem;
}
.elements input{
    height: 35px;
    width: 270px;
    border-radius: 20px;

}

::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.2rem;
}
#element4 a, #element5 a{
    font-size: 1.2rem;
}

.userId{
    margin-left: 33px;
}
.password{
    margin-left: 10px;
}
#submit{
    cursor: pointer;
    height: 30px;
    width: auto;
    margin: 10px;
    padding: 3px;
    font-size: 1.2rem;
    
    border-radius: 10px;
}
